.daytime_nightime_container {
	.column_header {
		text-align: center;
	}
	#daytime_posts {
		color: $dark;
	}
	#nightime_posts {
		color: $white;
	}
}

@include phone-only {
	#nightime_posts {
		display: none;
	}
	#daytime_posts {
		display: block;
	}
	.night {
		#nightime_posts {
			display: block;
		}
		#daytime_posts {
			display: none;
		}
	}
}

#home_introduction {
	a.drawer_button {
		display: block;
		font-size: 11px;
		padding: 0.25em;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		margin-top: 5px;
		background: $white;
		color: $dark;
		border-top: 1px solid $dark;

		.night & {
			background: $dark;
			color: $white;
			border-top: 1px solid $white;
		}

		&:hover,
		&:target {
			background: $dark;
			color: $white;

			.night & {
				background: $white;
				color: $dark;
			}
		}
	}

	#intro_content {
		//display: block;
		//height: auto;
		border: 1px solid $dark;
		overflow: hidden;
		opacity: 1;
		transition: all .3s ease-in-out;
		max-height: none;

		&.closed {
			max-height: 0;
			margin: 0;
			padding: 0;
			opacity: 0;
		}

		.padding {
			max-width: 950px;
			margin: 0 auto;
		}
	}
}

.popup {
	width:100%;
	position:fixed;
	z-index:99999999;
	bottom:0px;
	left: 50%;
	transform: translateX(-50%);
	text-align:center;
	font-size:1.1em;
}
.pull-tab {
	width:300px;
	margin-left:auto;
	margin-right:auto;
	padding:15px 25px;
	background-color: $dark;
	color: $white;
	font-weight:bold;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:pointer;
	border: 2px solid transparent;
	transition: all linear 1s;

	.night & {
		background-color: $white;
		color: $dark;
	}

	&:hover {
		border: 2px solid #ff0089;
	}
}
.bottom-drawer {
	width:100%;
	background-color:#efefef;
	display:none;
	text-align: left;
	transition: all linear 1s;

	.night & {
		background-color: #171717;
	}

	.padding {
		min-height: 300px;
		max-width: 1700px;
		margin: 0 auto;
	}
}
